 <%-include('header') %>
    <main class="dashboard-container">
        <h2>Are you Student or Admin</h2>

        <!-- List of Questions -->
        <div class="question-container">
           
            <ul class="options">
            <li> <a href="/userStudent"><button class="btn1">I'm Student</button></a></li>
           <li>  <a href="/userAdmin"><button class="btn2">I'm Admin</button></a></li>
            </ul>
           
        </div>

       

    </main>
</body>
</html>
