<%-include('header') %>
    <main class="dashboard-container">
        <h2>Questions</h2>

        <!-- List of Questions -->
        <div class="question-container">
            <p class="question">1. Why is it hot?</p>
            <ul class="options">
                <li>A) The weather</li>
                <li>B) I don't know</li>
                <li >C) The heater</li>
                <li>D) None</li>
            </ul>
            <div class="action-buttons">
                <button class="btn-edit">OK</button>
            </div>
        </div>

        <div class="question-container">
            <p class="question">2. What is 5 + 7?</p>
            <ul class="options">
                <li>A) 10</li>
                <li>B) 11</li>
                <li>C) 12</li>
                <li>D) 13</li>
            </ul>
            <div class="action-buttons">
                <button class="btn-edit">OK</button>
            </div>
        </div>

    </main>
</body>
</html>
